/* -----------------------------------*\
  #style.css
\*----------------------------------- */

::-webkit-scrollbar { width: 15px; }
::-webkit-scrollbar-track { background-color: hsl(0, 0%, 95%); }
::-webkit-scrollbar-thumb { background-color: hsl(0, 0%, 80%); }

:focus-visible { outline-offset: 4px; }

/* -----------------------------------*\
  #CUSTOM PROPERTY
\*----------------------------------- */

:root {
  /**
   * colors
   */

  --cadet-blue-crayola: hsl(240, 10%, 70%);
  --gold-web-golden: hsl(50, 100%, 54%);
  --vivid-sky-blue: hsl(196, 84%, 63%);
  --midnight-blue: hsl(231, 83%, 25%);
  --minion-yellow: hsl(50, 100%, 64%);
  --independence: hsl(225, 24%, 27%);
  --orange-soda: cf99dc;
  --space-cadet: hsl(243, 23%, 18%);
  --fiery-rose: hsl(353, 83%, 65%);
  --klein-blue: hsl(230, 80%, 39%);
  --bluetiful: hsl(222, 88%, 55%);
  --glaucous: hsl(230, 52%, 63%);
  --manatee: hsl(254, 7%, 65%);
  --rufous: hsl(2, 85%, 35%);
  --black: hsl(0, 0%, 8%);
  --white: hsl(0, 0%, 100%);

  /**
   * typography
   */

  --ff-open-sans: 'Open Sans', sans-serif;
  --ff-barlow: 'Italiana', sans-serif;
  --ff-poppins: 'Italiana', sans-serif;
  --fs-1: 1.5rem;
  --fs-2: 5rem;
  --fs-3: 2.4rem;
  --fs-4: 2rem;
  --fs-5: 1.8rem;
  --fs-6: 1.3rem;
  --fw-600: 600;
  --fw-700: 700;

  /**
   * border radius
   */

  --radius-5: 5px;
  --radius-10: 10px;
  --radius-15: 15px;
  --radius-20: 20px;

  /**
   * spacing
   */

  --section-padding: 60px;

  /**
   * shadow
   */

  --shadow: 0 -5px 10px var(--manatee);

  /**
   * transition
   */

  --transition-1: 0.05s ease;
  --transition-2: 0.25s ease;
  --cubic-out: cubic-bezier(0.33, 0.85, 0.56, 1.02);
}

::-webkit-scrollbar-thumb:hover { background-color: hsl(0, 0%, 70%); }

/* -----------------------------------*\
  #RESET
\*----------------------------------- */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li { list-style: none; }

a {
  text-decoration: none;
  color: inherit;
}

a,
img,
span,
input,
strong,
button,
textarea,
ion-icon { display: block; }

img { height: auto; }

ion-icon {
  pointer-events: none;
}

button,
input,
textarea {
  background: none;
  border: none;
  font: inherit;
}

button { cursor: pointer; }

input,
textarea { width: 100%; }

address { font-style: normal; }

html {
  font-size: 10px;
  font-family: var(--ff-open-sans);
  scroll-behavior: smooth;
}

body {
  background-color: #fdfaf8;
  color: var(--cadet-blue-crayola);
  font-size: 1.6rem;
  line-height: 1.6;
  overflow-x: hidden;
}

p {
  font-family: 'Cormorant Infant', serif;
  color: #453f3d;
  font-size: 19px;
}

/* -----------------------------------*\
  #REUSED STYLE
\*----------------------------------- */

.container { padding-inline: 20px; }

.btn {
  color: var(--white);
  font-family: var(--ff-barlow);
  font-size: var(--fs-5);
  font-weight: var(--fw-600);
  max-width: max-content;
  padding: var(--padding, 10px 40px);
  border-radius: 50px;
  transition: var(--transition-2);
}

.btn-primary.blue {
  background-color: none;
  border: none;
  text-transform: uppercase;
}

.btn-primary.blue:is(:hover, :focus) {
  background-color: black;
  color: white;
  border: 1px solid white;
}

.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section {
  padding-block: var(--section-padding);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-subtitle {
  color: rgb(104, 103, 103);
  font-family: var(--ff-barlow);
  font-size: 26px;
  text-align: center;
  font-weight: 500;
}

.h1,
.h2,
.h3 {
  color: #3f4241;
  font-family: var(--ff-barlow);
  font-weight: var(--fw-600);
  line-height: 1.3;
}

.h2 { font-size: var(--fs-2); }

.h3 {
  font-size: var(--fs-3);
  color: #968880;
}

.section-title,
.section-text { text-align: center; }

@media (min-width: 768px) {
  .container { padding-inline: 40px; }
}

@media (min-width: 990px) {
  .h2 {
    font-size: 60px;
  }
}

/* -----------------------------------*\
  #HEADER
\*----------------------------------- */

.header {
  position: fixed;
  padding-block: 15px;
  width: 100%;
  height: 65px;
  overflow: hidden;
  transition: 0.25s var(--cubic-out);
  z-index: 4;
}

.logo {
  width: 60px;
}

.header.nav-active {
  height: 335px;
  transition-duration: 0.35s;
  background-color: #fcfaf8;
}

.header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-toggle-btn {
  font-size: 3rem;
  color: #555748;
}

/* stylelint-disable */

.nav-toggle-btn.active .close-icon,
.nav-toggle-btn .menu-icon {
  display: block;
}

.nav-toggle-btn .close-icon,
.nav-toggle-btn.active .menu-icon {
  display: none;
}

/* stylelint-enable */

.navbar {
  position: absolute;
  top: 65px;
  left: 0;
  width: 100%;
  padding-inline: 20px;
  visibility: hidden;
  opacity: 0;
  transition: var(--transition-2);
}

.header.nav-active .navbar {
  visibility: visible;
  opacity: 1;
}

.navbar-link {
  color: var(--black);
  font-family: var(--ff-barlow);
  padding-block: 3px;
  transition: var(--transition-1);
  font-size: 20px;
}

.navbar-link:is(:hover, :focus) { color: var(--orange-soda); }

.navbar .btn {
  background-color: var(--orange-soda);
  margin-block-start: 15px;
  color: #404241;
  border: 1px solid #404241;
  padding: 10px 20px;
}

.navbar .btn:hover {
  color: white;
  background-color: #404241;
  border: 1px solid #404241;
}

/* -----------------------------------*\
  #HERO
\*----------------------------------- */

.elem,
.rotate-img { display: none; }

.hero {
  padding-block: 100px var(--section-padding);
  min-height: 100vh;
  display: grid;
  place-items: center;
  background-image: url('../images/bc1.jpg');
  background-size: cover;
}

.hero-banner {
  width: 150px;
  height: 172px;
  background-color: var(--independence);
  border-radius: var(--radius-10);
  margin-inline: auto;
  margin-block-end: 30px;
}

.hero-banner img { border-radius: inherit; }

.hero-content {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-title {
  font-family: var(--ff-barlow);
  font-size: 20px;
  max-width: 300px;
  line-height: 1.3;
  margin-block-end: 14px;
  color: #404241;
  font-weight: 500;
}

.hero-name {
  font-size: 65px;
  font-weight: inherit;
  margin-block-end: 8px;
  font-family: var(--ff-barlow);
  line-height: normal;
  color: #404241;
}

.hero-text {
  margin-block-end: 15px;
  max-width: 500px;
}

.btn-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

@media (min-width: 768px) {
  .hero-content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hero-title {
    text-align: center;
  }

  .hero-name {
    font-size: 80px;
  }
}

@media (min-width: 1400px) {
  .hero-name {
    font-size: 100px;
  }
}

@media (min-width: 1700px) {
  .hero-name {
    font-size: 120px;
  }

  .hero-title {
    font-size: 40px;
  }
}

@media (min-width: 2000px) {
  .hero-name {
    font-size: 140px;
  }

  .hero-title {
    font-size: 50px;
  }
}

/* -----------------------------------*\
  #ABOUT
\*----------------------------------- */

.about {
  padding-block-start: 120px;
}

.about-banner {
  background-color: var(--independence);
  border-radius: var(--radius-10);
  margin-block-end: 30px;
}

.about :is(.section-title, .section-subtitle, .section-text) {
  text-align: left;
}

.about :is(.section-title) {
  color: #968174;
  font-family: 'Italiana', serif;
  text-transform: uppercase;
  font-size: 35px;
}

.about :is(.section-title, .section-text) { margin-block-end: 30px; }

.about-content {
  margin-top: 20px;
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #404241;
  gap: 20px;
}

.socials li {
  border-bottom: 0.2px solid black;
  font-weight: 600;
  font-size: 18px;
  background-color: white;
  border: 1px solid #3f4241;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .socials {
    gap: 30px;
  }

  .socials li {
    font-size: 20px;
  }

  .section-text {
    padding: 0;
  }
}

@media (min-width: 1400px) {
  .img-cover {
    width: 40%;
    height: 100%;
    object-fit: cover;
  }
}

/* -----------------------------------*\
  #PORTFOLIO
\*----------------------------------- */

.portfolio .section-title { margin-block-end: 18px; }

.portfolio .section-text { margin-block-end: 80px; }

.portfolio-list {
  display: grid;
  grid-template-columns: 1.1fr 0.9fr;
  grid-template-rows: repeat(4, 70px);
  gap: 10px;
}

.portfolio-img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.portfolio-img img {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: scale(2);
  object-fit: cover;
  transform-origin: bottom;
  transition: transform 1s ease-in-out;
}

.portfolio-img:nth-child(1) {
  grid-row: 1/3;
  grid-column: 1;
}

.portfolio-img:nth-child(2) {
  grid-row: 3/5;
  grid-column: 1;
}

.portfolio-img:nth-child(3) {
  grid-row: 1;
  grid-column: 2;
}

.portfolio-img:nth-child(4) {
  grid-row: 2/4;
  grid-column: 2;
}

.portfolio-img:nth-child(2) img {
  transform-origin: top;
  transform: scale(3);
}

.portfolio-img:nth-child(3) img {
  transform-origin: center;
}

.portfolio-img:nth-child(4) img {
  transform-origin: top;
}

.portfolio-img:nth-child(5) img {
  transform-origin: center;
}

.portfolio-img:hover img {
  transform: scale(1);
}

.portfolio :is(.section-title, .section-subtitle, .section-text) {
  text-align: left;
}

.portfolio-card {
  background-size: cover;
  background-position: center;
  height: 300px;
}

.see-project {
  height: 100%;
  width: 100%;
  background-color: #64605d4e;
  display: none;
  justify-content: center;
  align-items: center;
}

.see-project-a {
  background-color: #404241;
  color: #fdfaf8;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-content { display: none; }

.portfolio-card .card-subtitle {
  color: var(--orange-soda);
  margin-block-end: 5px;
}

.portfolio-card .card-title {
  max-width: 20ch;
  margin-block-end: 20px;
}

.portfolio-card .btn-link {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: var(--fs-6);
  text-transform: uppercase;
}

.portfolio-card .btn-link ion-icon {
  color: var(--orange-soda);
  font-size: 1.6rem;
}

@media (min-width: 700px) {
  .portfolio-list {
    grid-template-rows: repeat(4, 120px);
  }
}

@media (min-width: 900px) {
  .portfolio .container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    border-top: 0.3px solid #404241;
    border-bottom: 0.3px solid #404241;
    padding: 40px 20px;
  }

  .portfolio-line {
    width: 0.3px;
    background-color: #3f4241;
    height: 500px;
  }

  .section-text.text-portfolio {
    text-align: right;
  }

  .portfolio-desc {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .portfolio-list {
    width: 100%;
  }

  .portfolio-desc h2,
  p {
    text-align: right;
    padding-left: 50px;
  }
}

@media (min-width: 1200px) {
  .portfolio .container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    border-top: 0.3px solid #404241;
    border-bottom: 0.3px solid #404241;
    padding: 40px 120px;
  }

  .portfolio-desc {
    width: 70%;
  }

  .portfolio-list {
    width: 60%;
  }
}

@media (min-width: 1600px) {
  .portfolio .container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    border-top: 0.3px solid #404241;
    border-bottom: 0.3px solid #404241;
    padding: 40px 120px;
  }

  .portfolio-desc {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 50px;
  }

  .section-text.text-portfolio {
    text-align: right;
  }

  .portfolio-desc h2,
  p {
    text-align: right;
    padding-left: 50px;
  }

  .portfolio-list {
    width: 60%;
  }
}

/* -----------------------------------*\
  #SKILLS
\*----------------------------------- */

.skills .section-title { margin-block-end: 20px; }

.skills .section-text { margin-block-end: 70px; }

.skills-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.skills-list {
  width: 100%;
  display: grid;
  gap: 25px;
}

.skill-container {
  width: 100%;
}

.skills-item .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block-end: 10px;
}

.skills-title,
.skills-data {
  color: black;
  font-size: var(--fs-5);
  font-family: var(--ff-barlow);
  font-weight: var(--fw-600);
}

.skills-progress-box {
  background-color: rgb(98, 98, 98);
  height: 0.1px;
}

.skills-progress {
  background-color: var(--orange-soda);
  height: 100%;
  border-radius: inherit;
}

@media (min-width: 1000px) {
  .skills .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .skills-container {
    gap: 100px;
    margin-top: 50px;
    width: 60%;
  }
}

/* -----------------------------------*\
  #CONTACT
\*----------------------------------- */
.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.vertical-line {
  width: 100%;
  background-color: #968174;
  height: 0.4px;
}

.contact-card {
  background-color: var(--midnight-blue);
  padding: 50px 25px;
  border-radius: var(--radius-20);
}

.contact-card .card-subtitle {
  color: var(--orange-soda);
  font-family: var(--ff-barlow);
  font-size: var(--fs-4);
  font-weight: var(--fw-600);
}

.contact .section-title {
  margin-block-end: 30px;
}

.contact-form { margin-block-end: 50px; }

.contact-input {
  background-color: var(--white);
  color: var(--manatee);
  border-radius: var(--radius-5);
  padding: 15px 25px;
  font-size: var(--fs-5);
  margin-block-end: 15px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 10px;
  margin-bottom: 20px;
  max-width: 350px;
}

input {
  background-color: white;
  padding: 10px;
  border-bottom: 0.1px solid black;
  color: rgb(58, 58, 58);
}

input::placeholder {
  font-family: var(--ff-barlow);
  color: rgb(29, 29, 29);
  font-weight: 600;
}

textarea::placeholder {
  font-family: var(--ff-barlow);
  color: rgb(29, 29, 29);
  font-weight: 600;
}

textarea {
  resize: vertical;
  min-height: 100px;
  height: 180px;
  max-height: 300px;
  background-color: white;
  padding: 10px;
  border-bottom: 0.1px solid rgb(40, 40, 40);
}

.btn-submit {
  background-color: #404241;
  color: white;
  font-family: var(--ff-barlow);
  font-size: var(--fs-5);
  padding: 10px 20px;
  border-radius: var(--radius-5);
  transition: var(--transition-2);
}

.btn-submit:is(:hover, :focus) {
  background-color: var(--white);
  color: var(--black);
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 15px;
}

.contact-item:not(:last-child) { margin-block-end: 20px; }

.contact-icon {
  background-color: var(--glaucous);
  font-size: 2.4rem;
  padding: 20px;
  border-radius: 50%;
}

.contact-item-title {
  color: var(--white);
  font-family: var(--ff-barlow);
  font-size: var(--fs-4);
  font-weight: var(--fw-600);
}

.contact-item-link { transition: var(--transition-1); }

.contact-item-link:not(address):is(:hover, :focus) { color: var(--white); }

.fa-solid {
  border-radius: 20px;
  border: 0.2px solid;
  padding: 6px;
  font-size: 17px;
}

.phone-container {
  display: flex;
  margin: 30px 0;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
}

.socials.contact {
  align-self: center;
}

.socials.contact li {
  border-bottom: none;
  font-size: 20px;
  color: white;
  background-color: #3f4241;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  margin-top: 20px;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

@media (min-width: 700px) {
  .contact-container {
    flex-direction: row;
    gap: 20px;
    width: 100%;
  }

  .contact .container {
    width: 100%;
  }

  form {
    width: 45%;
  }

  .vertical-line {
    width: 0.1px;
    height: 400px;
  }
}

@media (min-width: 1000px) {
  .contact-container {
    flex-direction: row;
    gap: 100px;
    width: 100%;
    margin-top: 50px;
  }

  .contact .container {
    width: 100%;
  }

  form {
    width: 40%;
  }

  .vertical-line {
    width: 0.1px;
    height: 400px;
  }

  p {
    padding: 0;
  }
}

/* -----------------------------------*\
  #BLOG
\*----------------------------------- */

.blog { padding-block-end: 120px; }

.blog .section-title { margin-block-end: 20px; }

.blog .section-text { margin-block-end: 80px; }

.blog-list {
  display: grid;
  gap: 40px;
}

.blog-card { font-family: var(--ff-barlow); }

.blog-card .card-banner {
  background-color: var(--independence);
  border-radius: var(--radius-15);
  overflow: hidden;
  margin-block-end: 20px;
}

.blog-card .card-banner img { transition: var(--transition-2); }

.blog-card .card-banner a:is(:hover, :focus) img { transform: scale(1.1); }

.blog-card .card-banner:focus-within {
  outline: 2px solid var(--white);
  outline-offset: 4px;
}

.blog-card .card-tag {
  color: var(--orange-soda);
  margin-block-end: 5px;
}

.blog-card .card-title {
  color: var(--white);
  font-weight: var(--fw-600);
  line-height: 1.3;
}

.blog-card .card-title a { transition: var(--transition-2); }

.blog-card .card-title a:is(:hover, :focus) { color: var(--orange-soda); }

/* -----------------------------------*\
  #FOOTER
\*----------------------------------- */

.footer {
  background: #f1e7e2;
  padding-block: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.copyright,
.footer-date,
.copyright-link,
.rights {
  color: #373737;
  font-family: 'Italiana', sans-serif;
  font-size: 19px;
  padding: 0;
  font-weight: 400;
  margin: 0;
}

.copyright-link {
  color: #848484;
}

.footer .container {
  color: white;
  display: flex;
  flex-direction: row;
  gap: 5px;
}

@media (min-width: 700px) {
  .footer {
    padding-block: 40px;
    flex-direction: row;
    gap: 5px;
  }

  .footer .container {
    padding: 0;
  }
}

/* -----------------------------------*\
  #BACK TO TOP
\*----------------------------------- */

.back-to-top {
  color: #404241;
  font-size: 1.3rem;
  position: fixed;
  bottom: 160px;
  right: -30px;
  transform: rotate(0.25turn);
  opacity: 0;
  visibility: hidden;
  transition: var(--transition-2);
  z-index: 1;
}

.back-to-top.active {
  right: -5px;
  opacity: 1;
  visibility: visible;
}

.back-to-top::after {
  content: "";
  position: absolute;
  top: 10px;
  left: calc(100% + 7px);
  width: 100px;
  height: 1px;
  background-color: #404241;
}

/* -----------------------------------*\
  #MEDIA QUERIES
\*----------------------------------- */

/**
 * responsive for larger than 600px screen
 */

@media (min-width: 600px) {
  /**
   * PORTFOLIO
   */

  .portfolio-list li:nth-child(even) .card-content { margin-inline-start: 50%; }
}

/**
 * responsive for larger than 768px screen
 */

@media (min-width: 768px) {
  /**
   * PORTFOLIO
   */

  .portfolio-card {
    background-size: 115%;
    padding-inline: 80px;
  }

  .portfolio-card:is(:hover, :focus) { background-size: 130%; }

  /**
   * SKILLS, BLOG
   */

  .skills-list,
  .blog-list {
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
  }
}

/**
 * responsive for larger than 992px screen
 */

@media (min-width: 992px) {
  /**
   * CUSTOM PROPERTY
   */

  :root {
    /**
     * typography
     */

    --fs-1: 6.4rem;
    --fs-2: 3.5rem;
    --fs-3: 3.6rem;

    /**
     * spacing
     */

    --section-padding: 80px;
  }

  .nav-toggle-btn { display: none; }

  .header,
  .header.nav-active {
    background-color: transparent;
    box-shadow: none;
    height: unset;
    padding-block: 30px;
  }

  .header.active {
    background-color: #fcfaf8;
    padding-block: 20px;
  }

  .navbar { all: unset; }

  .navbar-list {
    display: flex;
    align-items: center;
    gap: 30px;
  }

  .navbar .btn {
    margin-block-start: 0;

    --padding: 7px 30px;
  }

  /**
   * HERO
   */

  .hero .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }

  .hero-content { text-align: left; }

  .btn-group { justify-content: flex-start; }

  .hero-title span { font-size: 3rem; }

  .hero-title {
    --fs-5: 2.2rem;

    margin-block-end: 25px;
  }

  .hero-text {
    margin-block-end: 25px;
    font-size: var(--fs-5);
  }

  .hero-banner {
    position: relative;
    margin-block-end: 0;
    order: 1;
    width: 340px;
    height: 390px;
    margin-inline: 0;
    margin-inline-start: auto;
  }

  .elem {
    position: absolute;
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: var(--white);
    border-radius: var(--radius-10);
    padding: 20px;
  }

  .elem-1 {
    top: 20px;
    left: -130px;
  }

  .elem-title {
    font-size: 4.5rem;
    line-height: 1.1;
  }

  .elem-1 .elem-title { color: var(--vivid-sky-blue); }

  .elem-2 {
    bottom: 30px;
    right: -80px;
  }

  .elem-2 .elem-title { color: var(--fiery-rose); }

  .elem-text {
    max-width: 10ch;
    color: var(--black);
    font-weight: var(--fw-700);
    line-height: 1.1;
  }

  .elem-3 {
    top: -40px;
    right: -30px;
  }

  .elem-3 ion-icon {
    color: var(--minion-yellow);
    font-size: 6rem;
  }

  .rotate-img {
    display: block;
    position: absolute;
    bottom: -60px;
    left: -60px;
    width: 120px;
    animation: rotate360 15s linear infinite reverse;
  }

  @keyframes rotate360 {
    0% { transform: rotate(0); }
    100% { transform: rotate(1turn); }
  }

  /**
   * ABOUT
   */

  .about { padding-block: 180px; }

  .about .container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
  }

  .img-cover {
    width: 40%;
    height: 100%;
    object-fit: cover;
  }

  .about-content {
    width: 50%;
    max-width: 600px;
  }

  /**
   * PORTFOLIO
   */

  .portfolio-card .card-subtitle { font-size: var(--fs-5); }

  .portfolio-card .btn-link { --fs-6: 1.6rem; }

  /**
   * SKILLS
   */
  .skills .container {
    width: 100%;
  }
  .skills-list { column-gap: 100px; }

  /**
   * CONTACT
   */

  .contact-card { padding: 100px; }

  .contact .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }

  .contact-form { margin-block-end: 0; }

  .contact-item { gap: 25px; }

  .contact-icon { padding: 30px; }
